<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERRO 404!!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo">
            <div class="imageLogo">
                <img src="logo.png" alt="Logo TutorTime">
            </div>
            TutorTime - IFSP
        </div>
        <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/manage">Manage</a></li>
        </ul>
    </header>
    <div class="erro">
        <img src="/404.jpeg" class="erroimg">
        <h1 class="PNF">PAGE NOT FOUND!</h1>
        <a href="/home" class="voltarerro">Voltar</a>
    </div>


</body>
</html>