<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFSP - TutorTime</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <header>
        <div class="logo">
            <div class="imageLogo">
                <img src="logo.png" alt="Logo TutorTime">
            </div>
            TutorTime - IFSP
        </div>
        <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Manage</a></li>
        </ul>
    </header>
    <div class="senha">
        <b class="grande">SENHA : </b>
        <form onsubmit="redirecionamento(event)">
            
            <input type="text" id="senha" name="senha" class="inputsenha">
           
            <button type="submit" class="adicionarsenha">Verificar</button>
        </form>
    </div>
    <script>
        function redirecionamento(event) {
        event.preventDefault(); // Evita que o formulário seja enviado tradicionalmente
        const id = document.getElementById('senha').value;
        if (id) {
            window.location.href = `manage/${id}`; // Substitua pelo seu site
        } else {
            alert('Por favor, insira uma Senha.');
        }
        }
  </script>
</body>
</html>