<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Disciplinas - TutorTime</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .bloco{
            width: 400px;
            height: 800px;
            background-color: gray;
            border-radius: 5%;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <div class="imageLogo">
                <img src="../images/logo.png" alt="Logo TutorTime">
            </div>
            TutorTime - IFSP
        </div>
        <ul class="menu">
            <li><a href="../home/index.html">Home</a></li>
            <li><a href="../about/about.html">About</a></li>
            <li><a href="#">Manage</a></li>
        </ul>
    </header>

    <main>
        <h1 style="text-align: center;">Gerenciar Disciplinas</h1>
        
        <div class="bloco">
            <form action="/add" method="POST">
            Adicionar Monitoria<br>
            <input type="text" name="nome"><br>
            <input type="text" name="urlimg"><br>
            <input type="text" name="cursossug"><br>
            <input type="text" name="profresp"><br>
            <input type="text" name="monitoresp"><br>
            <input type="text" name="diahr"><br>
            <input type="text" name="salink"><br>
            <button type="submit">Adicionar</button>
            </form>
        </div>
        <div id="subjectList">
            <!-- Lista de disciplinas será gerada aqui -->
        </div>
    </main>

    <script>
        
</script>
</body>
</html>
