@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body{
    height: 100vh;
    width: 100vw;
    background-color: #17153B;
    margin: 0rem;    
    overflow: hidden;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-100%, -50%);
    object-position: center center;
}



h1 {
    font-family: 'Inter', sans-serif;
    margin: 20px 0;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); 
    font-size: 4vmin; 
    color: white;
    z-index: 10;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-weight: 500; 
    padding-top: 10px;
    text-align: center;
}

h2 {
    color: white;
}



@media (max-width: 768px) {
    h1 {
        font-size: 10vmin;
    }
    .image {
        height: 50vh;
    }
}